body{
    background-color:white;
}
.side{padding:0px 10px 150px 30px;
    float:left;
    background-color: forestgreen;
    color:white;
}
#profile{
    border-radius: 50px;
}
#name{
    font-weight: bold;
    font-size:1.5em;
}
.link1{
    color: white;
}
button{
    padding:10px 10px 10px 10px;
    background-color:burlywood;
    color:white;
}
p{
  display:grid;
}
.box1{
  display:flex;
}
.box2{
  display:flex;
}
.box3{
  display:grid;
}
.sub{
  font-size: 1em;
  font-weight: bold;
}
